nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 20px;

  > div {
    > button {
      background: none;
      border: none;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.2em;
      opacity: 1;
      text-transform: uppercase;
      transition: color 0.25s linear;
      cursor: pointer;

      & + button {
        margin-left: 20px;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  > span {
    display: flex;
    align-items: center;

    > a {
      font-size: 40px;
      transition: all 0.25s linear;
    }

    > p {
      opacity: 0;
      transition: all 0.25s linear;
    }
  }
}

main {
  max-width: 900px;
  margin: 0 auto;
  transition: all 0.25s ease-out;

  > section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;

    > div {
      > p {
        font-size: 20px;
        margin-bottom: 10px;
      }

      > h2 {
        text-transform: capitalize;
      }

      > h2,
      h1 {
        font-size: 40px;
        font-weight: 800;
        z-index: 1;

        > span {
          font-size: 60px;
        }
      }

      > .base-stats {
        display: flex;
        flex-wrap: wrap;

        > p {
          background-color: #fff;
          box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          padding: 10px 15px;
          margin: 5px 10px 5px 0;
          font-size: 14px;
          color: #111;
        }
      }

      & + div {
        margin-top: 50px;
      }
    }
  }

  > img,
  .load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    transition: all 0.25s ease-out;

    > svg {
      font-size: 80px;
      animation: rotate 2s linear infinite;
    }
  }

  > img:hover {
    transform: scale(1.05);
  }

  .load {
    height: 500px;
  }
}

@media screen and (min-width: 768px) {
  nav {
    padding: 30px 50px;

    > span {
      &:hover {
        > p {
          opacity: 1;
          margin-right: 20px;
        }
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    > section {
      padding: 30px 50px;
    }

    > img {
      padding: 0 50px;
    }
  }
}

@media screen and (min-width: 1024px) {
  main {
    > img {
      padding: 0;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
